/* #root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
} */
/* @import url("https://cdn.syncfusion.com/ej2/material.css"); */
.sidebar {
	box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
}
.nav-item,
.navbar {
	z-index: 10000;
}
@media screen and (max-width: 800px) {
	.sidebar {
		z-index: 10000000;
	}
}

.e-dlg-center-center,
.e-quick-popup-wrapper.e-device {
	z-index: 1000000 !important;
}

::-webkit-scrollbar {
	width: 6px;
}
::-webkit-scrollbar-thumb {
	background-color: rgb(216, 216, 216);
	border-radius: 40px;
}
::-webkit-scrollbar-track {
	background-color: transparent;
}

/* color-picker style  */

#preview {
	background: transparent
		url("https://ej2.syncfusion.com/react/demos/src/color-picker/images/pen.png")
		no-repeat;
	display: inline-block;
	height: 80px;
	margin: 10px 0;
	min-width: 300px;
	max-width: 600px;
	background-color: #008000;
}

.e-input-group:not(.e-float-icon-left),
.e-input-group.e-success:not(.e-float-icon-left),
.e-input-group.e-warning:not(.e-float-icon-left),
.e-input-group.e-error:not(.e-float-icon-left),
.e-input-group.e-control-wrapper:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-warning:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left) {
	border: none;
}
#search-spinner {
	width: 1rem;
	height: 1rem;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='%23000' strokeLinecap='round' strokeLinejoin='round' strokeWidth='2' d='M20 4v5h-.582m0 0a8.001 8.001 0 00-15.356 2m15.356-2H15M4 20v-5h.581m0 0a8.003 8.003 0 0015.357-2M4.581 15H9' /%3E%3C/svg%3E");
	animation: spin 1s infinite linear;
	position: absolute;
	left: 0.625rem;
	top: 0.75rem;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
#detail.loading {
	opacity: 0.25;
	transition: opacity 200ms;
	transition-delay: 200ms;
}
.navbar {
	display: flex;
}
.navbar > div form {
	position: relative;
	/* margin-right: 0.5px; */
}

.navbar > div form input[type="search"] {
	width: 13em;
	/* flex: 0.5; */
	padding: 0.3rem 2rem;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='%23999' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z' /%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: 0.625rem 0.4rem;
	background-size: 1rem;
	position: relative;
}

.navbar > div form input[type="search"].loading {
	background-image: none;
}
form[action$="destroy"] button {
	color: #f44250;
}
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}
.wrapper {
	display: flex;
}
.highlight,
.active {
	background-color: var(--highlight-purple);
	border-radius: 8px;
}
.pending {
	background-color: grey;
	border-radius: 8px;
}
