@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}


*/

@layer base {
	:root {
		--highlight-purple: #7178ef;
		--highlight-grey: grey;
		--background-grey: #242424;
		--title-light: skyblue;
		/* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
			"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
			"Helvetica Neue", sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		line-height: 1.5;
		font-weight: 400;
		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

		color-scheme: light dark;
		color: rgba(255, 255, 255, 0.87);
		background-color: var(--background-grey);

		max-width: 1280px;
	}
	html {
		box-sizing: border-box;
		margin: 0 auto;
		padding: 2rem;
	}
	*,
	*:before,
	*:after {
		box-sizing: inherit;
	}
	/* #root {
	} */
	a {
		display: block;
		font-weight: 500;
		width: 15em;
		padding: 0.2rem;
		margin: 0.5rem;
		/* margin-top: 1.5rem; */
	}
	a:hover {
		background-color: var(--highlight-purple);
		border-radius: 8px;
		/* padding: 1rem; */
	}

	code {
		font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
			monospace;
	}

	html,
	body {
		height: 100%;
		margin: 0;
		line-height: 1.5;
	}
	h1 {
		@apply text-2xl leading-10 text-center font-bold;
		/* line-height: 3rem; */
		/* text-align: center; */
	}
	h2 {
		@apply text-xl leading-8 font-bold;
		color: var(--title-light);
		margin-top: 1rem;
	}
	h3 {
		@apply text-lg leading-8 font-semibold;
	}
	img {
		width: 150px;
	}
	textarea,
	button,
	input,
	select {
		font-family: inherit;
		border: none;
		border-radius: 8px;
		box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
		margin: 0;
		font-size: 1rem;
		line-height: 1.5;
		padding: 0.1rem 0.75rem;
	}
	button {
		margin: 0.5rem;
		margin-left: 0;
		/* color: #3992ff; */
		font-weight: 500;
		border-radius: 8px;
		border: 2px solid transparent;
		/* padding: 0.6em 1.2em; */
		font-size: 1em;
		font-weight: 500;
		font-family: inherit;
		/* background-color: #1a1a1a; */
		background-color: grey;
		cursor: pointer;
		transition: border-color 0.25s;
	}

	textarea:hover,
	input:hover,
	button:hover {
		outline: 2px auto -webkit-focus-ring-color;
	}
	button:active {
		box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4);
		transform: translateY(1px);
	}
	button:focus,
	button:focus-visible {
		/* box-shadow: 0 0px 4px hsla(0, 0%, 0%, 0.458), 0 1px 2px hsla(0, 0%, 0%, 0.2);
		border-color: skyblue; */
		outline: 4px auto -webkit-focus-ring-color;
	}
	/* form {
		width: 50vw;
		margin-top: 0.5rem;
	}
	input {
		margin: 0.5rem;
	} */
	/* label {
		display: block;
	} */
	blockquote {
		background-color: var(--highlight-grey);
		width: 100%;
		padding: 0.2rem 1.5rem;
		margin: 0.5rem 0;
		border-radius: 0.8rem;
	}

	.wrapper {
		display: flex;
	}
	.highlight,
	.active {
		background-color: var(--highlight-purple);
		border-radius: 8px;
	}
	.pending {
		background-color: grey;
		border-radius: 8px;
	}

	.panel-light,
	.panel-dark {
		border: 1px solid black;
		border-radius: 4px;
		padding: 20px;
		margin-bottom: 10px;
	}
	.panel-light {
		color: #222;
		background: #fff;
	}

	.panel-dark {
		color: #fff;
		background: rgb(23, 32, 42);
	}

	.button-light,
	.button-dark {
		border: 1px solid #777;
		padding: 5px;
		margin-right: 10px;
		margin-top: 10px;
	}

	.button-dark {
		background: #222;
		color: #fff;
	}

	.button-light {
		background: #fff;
		color: #222;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: var(--highlight-purple);
	}
	button {
		background-color: #f9f9f9;
	}
}
